body {
  font-family: "Julius Sans One", sans-serif;
  border-bottom: #88938a solid 3px;
  background-image: url(asset/BACKG\ YESS\ 3.jpeg);
}
h1 {
  text-align: center;
  border: none;
}
h2 {
  color: #a86666;
}
h3 {
  color: #eee;
}
h4 {
  display: grid;
  justify-content: space-around;
  color: #fff;
  font-size: 25px;
  background-color: #88938a;
  padding-top: 1em;
  padding-bottom: 1em;
  align-self: center;
  /* h4 is for both Gallery and About You */
}
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  align-items: center;
  color: rgb(190, 121, 121);
}
a {
  color: rgb(136, 136, 136);
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  background-color: #88938a;

  color: #fff;
}
.section-2 {
  text-align: center;
  color: #88938a;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 35px;
}
.section-3 {
  display: flex;
  grid-row: auto;
  justify-content: space-around;
}
img {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
.about-me {
  display: grid;
  justify-content: space-around;
  color: #fff;
  font-size: 25px;
  background-color: #88938a;
  padding-top: 1em;
  padding-bottom: 1em;
  align-self: center;
}
.tab {
  text-indent: 40px;
}
.about-me-info {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  color: #88938a;
}
.radio {
  display: grid;
  justify-content: space-around;
  margin-bottom: 2em;
  margin-top: 3em;
  color: #88938a;
}
.contact {
  display: grid;
  justify-content: space-around;
  color: #fff;
  font-size: 25px;
  background-color: #88938a;
  padding-top: 1em;
  padding-bottom: 1em;
  align-self: center;
}
.form {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #88938a;
}
button {
  color: #88938a;
  font-family: "Julius Sans One", sans-serif;
  margin-bottom: 2em;
  margin-top: 2em;
}
input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(190, 121, 121);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}
.icons {
  text-align: center;
  display: flex;
  justify-items: center;
}
footer {
  width: 100%;
}
.icons-2 {
  text-align: center;
  margin: 10px;
  padding: 0;
  justify-content: space-between;
}
input[type="text"] {
  font-family: "Julius Sans One", sans-serif;
  color: #88938a;
}

input[type="email"] {
  font-family: "Julius Sans One", sans-serif;
  color: #88938a;
}
textarea {
  bottom: 0;
  height: 35px;
}
